# For a full list of active aliases, run `alias`.

# Shortcuts
alias d="cd ~/My\ Drive"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias p="cd ~/projects"
alias h="history"
# alias j="jobs"
alias e="exit"

# Shorten commonly typed
# alias s="spotify"
alias ss="spring stop"
alias bert="bundle exec rails test"
alias ytd="youtube-dl"
alias hh="hstr"

# Start/stop Redis
alias redis-start="(redis-server &)"
alias redis-stop="(redis-cli shutdown)"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get week number
alias week='date +%V'

# Update Node and global packages
alias update-node='~/projects/personal/dotfiles/scripts/node.sh; omz update'

# Update Homebrew packages
alias update-brew='brew update; brew upgrade; brew cleanup; omz update'

# Update Ruby Gems
alias update-gems='sudo gem update --system; sudo gem update; sudo gem cleanup; rbenv rehash; omz update'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Show active network interfaces
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# Force puma to quit when ctrl+c doesn't work
alias kill-puma="pkill -9 -f puma"

# Force CalendarAgent to quit when it stops sysncing
alias kill-calendar="pkill -9 CalendarAgent"

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.
#
# Example aliases
# alias zshconfig="mate ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

alias merge_destroy='/Users/jackhobhouse/Projects/Personal/dotfiles/scripts/merge_and_destroy_pr'
alias t="./run_tests"
alias rt='rails test'
alias rtf='rails test:failed'
alias s="OPEN_EMAILS_IN_BROWSER=true ./bin/rails s"
alias pt="papertrail"
alias gfm='git fetch origin $(git_main_branch):$(git_main_branch) && git merge $(git_main_branch)'
alias gfr='git fetch origin $(git_main_branch):$(git_main_branch) && git rebase $(git_main_branch)'
alias gps='git push --set-upstream origin $(git_current_branch)'
alias checkout_last='git checkout -'
alias send_it='gfr && git push -u && scripts/links branch'
alias restore_eu='TARGET_APP=local FROM_APP=production_eu  rails db:restore'
alias restore_us='TARGET_APP=local FROM_APP=production_us  rails db:restore'


# alias pr_checks="gh pr checks $(hub pr show -f '%I')"

alias checkout_pr="/Users/jackhobhouse/Projects/Personal/dotfiles/Raycast/checkout.sh"

alias slp2-server="/Users/jackhobhouse/Projects/Personal/dotfiles/Raycast/slp2-servercopy.applescript"
alias vetpost="j vetpost; code . ; stree ; open -a iTerm . ; bundle ; yarn ; rails db:migrate ; s"
alias weekly-download="heroku run rails export:shipments -a vetpost-production | grep -v DEBUG | tee Shipments-$(date "+%d-%m-%y").csv"
alias weekly-download-2="heroku run rails export:payments -a vetpost-production | grep -v DEBUG | tee Payments-$(date "+%d-%m-%y").csv && sleep 20 && zip -P indigolighthouse1998 Payments-$(date "+%d-%m-%y").zip  Payments-$(date "+%d-%m-%y").csv"
alias weekly-lock="zip -P indigolighthouse1998 Payments-$(date "+%d-%m-%y").zip  Payments-$(date "+%d-%m-%y").csv"
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm update -g; omz update'
alias update-certificates='export DNSIMPLE_TOKEN=ypWmu4KMeutPs4E0z0CZHiugAfWc75vm && scripts/update-heroku-certificates'

alias compare_branch='/Users/jackhobhouse/projects/personal/dotfiles/scripts/compare_branch_on_github.sh'
alias push_compare='git push -u && compare_branch'
