{
    AppleSymbolicHotKeys =     {
        15 =         {
            enabled = 0;
        };
        16 =         {
            enabled = 0;
        };
        164 =         {
            enabled = 1;
            value =             {
                parameters =                 (
                    262144,
                    4294705151
                );
                type = modifier;
            };
        };
        17 =         {
            enabled = 0;
        };
        18 =         {
            enabled = 0;
        };
        19 =         {
            enabled = 0;
        };
        20 =         {
            enabled = 0;
        };
        21 =         {
            enabled = 0;
        };
        22 =         {
            enabled = 0;
        };
        23 =         {
            enabled = 0;
        };
        24 =         {
            enabled = 0;
        };
        25 =         {
            enabled = 0;
        };
        26 =         {
            enabled = 0;
        };
        60 =         {
            enabled = 0;
            value =             {
                parameters =                 (
                    32,
                    49,
                    262144
                );
                type = standard;
            };
        };
        61 =         {
            enabled = 0;
            value =             {
                parameters =                 (
                    32,
                    49,
                    786432
                );
                type = standard;
            };
        };
        79 =         {
            enabled = 1;
        };
        80 =         {
            enabled = 1;
        };
        81 =         {
            enabled = 1;
        };
        82 =         {
            enabled = 1;
        };
    };
}
